[Desktop Entry]
Type=Application
Name=Screen Locker
Exec=commiecc-screen-locker -l
OnlyShowIn=GNOME;
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
